div#one {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: inherit;
}
div {
  border: 1px dashed;
  background: silver;
}
div > * {
  border: 1px solid;
  background: #aaa;
}
div p {
  margin: 0;
}
div#container {
  border: 1px solid red;
  padding: 1em;
  height: 400px;
}
